
#contact {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact h5{
    font-size: 48px;
    line-height: 72px;
    margin: 50px 0;
    color: #50B2EA;
}
#contact input{
    width: 370px;
    height: 64px;
    left: 766px;
    top: 3167px;

    background: #50B2EA;
    opacity: 0.5;
    border-radius: 40px;

    margin-bottom: 14px;

    border: none;
    
}
#contact button{
    width: 148px;
    height: 64px;

    background: #50B2EA;
    border-radius: 40px;

    margin-bottom: 50px;
}
