#services{
    height: 674px;
    background-color: #F2F2F2;
}
#services > .wrapper{
    height: 390px;
    background-color: #50B2EA;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#services h5{
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

#services main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#services .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 40px;
}

#services .card > img{
    width: 180px;
    height: 180px;
    margin-bottom: 66px;
}

#services .card > h6{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #50B2EA;
    margin-bottom: 14px;
}

#services .card > p{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #19435A;
    width: 180px;
}

#services button{
    margin-top: 50px;
    padding: 16px 52px;

    background: #50B2EA;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;

    box-shadow: 0px 20px 20px rgba(129, 209, 255, 0.2);
    border-radius: 10px;
}